body {
  --font-interface-theme: var(--theme-font-interface);
  --font-text-theme: var(--theme-font-text);
  --font-monospace-theme: var(--theme-font-monospace);
  --line-height-normal: var(--theme-line-height);
  --file-line-width: var(--theme-reading-width);
}
