body {
  --font-text-theme: "Inter", "Noto Sans SC", "PingFang SC", "Microsoft YaHei", sans-serif;
  --font-interface-theme: "Inter", "Noto Sans SC", "PingFang SC", "Microsoft YaHei", sans-serif;
}

.markdown-source-view.mod-cm6 .cm-scroller,
.markdown-preview-view {
  line-height: var(--theme-line-height);
}
